@import "colors";

h5 {
  padding-top: 1.5rem;
}

h6 {
  position: relative;
  padding-top: 1rem;
  padding-left: 1rem;
  font-weight: bold;
}


.banner_text {
  font-size: large;
  font-weight: bold;
}

.active_info {
  h5 {
    border-bottom: 1px gray solid;
    padding-bottom: 2rem;
  }

  div:nth-child(2) {
    margin-top: 2rem;
  }

  div {
    position: relative;
    padding-left: 20px;
  }

  div::after {
    content: '';
    position: absolute;
    left: 3px;
    top: 4px;
    border-left: 5px black solid;
    height: 1rem;
  }
}

h1 {
  font-size: 1rem;
  display: inline;
  font-weight: normal;
}

.card, .gray_background {
  h5 {
    color: $dark_red;
  }

  .card-text {
    small {
      text-align: right;
      display: block;
    }
  }
}
