h5 {
  margin-top: 20px;
  margin-bottom: 15px;
}

blockquote {
  color: #d5d5d5;
  font-size: .5rem;
}

figure {
  > * {
    margin: 10px;
  }
  .fbTag {
    color: #24678d;
  }
}

.slide {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  > img {
    opacity: 0;
  }
}

.s1 {
  background-image: image-url("cityMark/s1.jpg");
}

.s2 {
  background-image: image-url("cityMark/s2.jpg");
}

.s3 {
  background-image: image-url("cityMark/s3.jpg");
}

.s4 {
  background-image: image-url("cityMark/s4.jpg");
}

.s5 {
  background-image: image-url("cityMark/s5.jpg");
}

.s6 {
  background-image: image-url("cityMark/s6.jpg");
}

.s7 {
  background-image: image-url("cityMark/s7.jpg");
}

.s8 {
  background-image: image-url("cityMark/s8.jpg");
}

.s9 {
  background-image: image-url("cityMark/s9.jpg");
}

.s10 {
  background-image: image-url("cityMark/s10.jpg");
}

.s11 {
  background-image: image-url("cityMark/s11.jpg");
}

.s12 {
  background-image: image-url("cityMark/s12.jpg");
}

.s13 {
  background-image: image-url("cityMark/s13.jpg");
}

.s14 {
  background-image: image-url("cityMark/s14.jpg");
}

.s15 {
  background-image: image-url("cityMark/s15.jpg");
}

.s16 {
  background-image: image-url("cityMark/s16.jpg");
}

.s17 {
  background-image: image-url("cityMark/s17.jpg");
}

.s18 {
  background-image: image-url("cityMark/s18.jpg");
}

.s19 {
  background-image: image-url("cityMark/s19.jpg");
}

.s20 {
  background-image: image-url("cityMark/s20.jpg");
}

.s21 {
  background-image: image-url("cityMark/s21.jpg");
}

.s22 {
  background-image: image-url("cityMark/s22.jpg");
}

.s23 {
  background-image: image-url("cityMark/s23.jpg");
}

.s24 {
  background-image: image-url("cityMark/s24.jpg");
}

.s25 {
  background-image: image-url("cityMark/s25.jpg");
}

.s26 {
  background-image: image-url("cityMark/s26.jpg");
}

.s27 {
  background-image: image-url("cityMark/s27.jpg");
}

.s28 {
  background-image: image-url("cityMark/s28.jpg");
}

.s29 {
  background-image: image-url("cityMark/s29.jpeg");
}

.s30 {
  background-image: image-url("cityMark/s30.jpeg");
}
