@import "colors";


h1, h2 {
    font-size: 16pt;
    font-weight: 700;
    line-height: 6em;

    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 4em;
        left: 0;
        right: 0;
        margin: auto;
        height: 2px;
        width: 180px;
        background-color: #aaa;
    }
}

.banner {
    width: 100%;
    font-size: 0;
    img {
        // box-shadow: 0 0 0 1px red;
        // height: 10px!important;

        $spacer: 10px;
        display: inline-block;
        width: calc((100% - #{$spacer} * 4)/5);
        & + img {
            margin-left: $spacer;
        }
    }
}

.join_us {
  color: #fff;
  min-height: 20vh;
  .btn-danger {
    &:hover {
      background-color: $dark_red;
    }
  }
}
