@import "colors";


#article {
    background-color: #fff;

}

.observed_works {
    max-width: 820px;
    font-size: 0;
    text-align: center;
    margin: auto;

    .item {
        $spacer: 20px;
        display: inline-block;

        width: 100%;
        &:nth-child(n+2) {
            margin-top: $spacer;
        }
        @media (min-width: 576px) {
            width: calc((100% - #{$spacer} * 2)/3);
            &:nth-child(3n+2), &:nth-child(3n+3) {
                margin-left: $spacer;
            }
            &:nth-child(n+4) {
                margin-top: $spacer;
            }
        }

        >img {
            width: 100%;
            margin: 15px 0;
        }

        > h2 {
            font-size: 14pt;
            font-weight: 700;

        }

        > time {
            font-size: 12pt;
        }
    }
}
