@import "colors";

.banner_img {
  background-image: image-url('index/banner.jpg');
  background-position: center;
}

.slide {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    > img {
        opacity: 0;
    }
}

.s1 {
    background-image: image-url("index/s1.jpg");
}

.s2 {
    background-image: image-url("index/s2.jpg");
}

.s3 {
    background-image: image-url("index/s3.jpg");
}

.s4 {
    background-image: image-url("index/s4.jpg");
}

.s5 {
    background-image: image-url("index/s5.jpg");
}

.card {
    margin: 5vh 0;
    border: 0;

    .card-block {
        text-align: center;
        padding: 0;

        h5 {
            margin: 0.25rem 0;
        }

        img {
            width: 245px;
        }

        h6 {
            margin-top: 1rem;
            margin-bottom: 2rem;
            color: $dark_red;
        }

        p {
          padding: 0 15px;
            text-align: left;
        }
    }
}

.group_summary {
  min-height: 50vh;
  h1 {
    font-size: 1.5rem;
    color: #248d6c;
  }
}

.join_us {
  color: #fff;
  min-height: 20vh;
  .btn-danger {
    &:hover {
      background-color: $dark_red;
    }
  }
}
