/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

$mobile_logo_width: 247.5px;
@import "flexslider";
$normal_speed: .3s;
@import "global_style";
$mobile_logo_speed: .4s;

// img {
//   image-rendering: pixelated!important;
// }

.block-middle {
  font-size: 0;
  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    // width: 2px;
    // background-color: red;
  }
  > div {
    font-size: 1rem;
    vertical-align: middle;
    display: inline-block;
  }
}

.block-bottom {
  font-size: 0;
  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    // width: 2px;
    // background-color: red;
  }
  i, span {
    font-size: 1rem;
    vertical-align: bottom;
    display: inline-block;
    padding-left: 0.5rem;
    color: white;
    &:hover, &:active, &:focus, &:visited {
      color: white;
    }
  }
}

.font-fangsong {
  font-family: "cwTeXFangSong",serif !important;
  font-size: 14pt;
  letter-spacing: .1em;
}

body {
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
  overflow-y: scroll;
  background-color: #FAFAFA;

  p {
    line-height: 1.75rem;
  }

  nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // border: 1px solid blue;
    background-color: #FAFAFA;
    z-index: 20;
    box-shadow: 0 0 50px #888888;

    @media (min-width: 992px) {
      position: static;
      box-shadow: none;
    }

    & + #fix_menu_spacer {
      height: 66px;
      @media (min-width: 992px) {
        height: 0;
      }
    }
  }

  header nav.navbar.fix_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FAFAFA;
    z-index: 20;
    box-shadow: 0 0 50px #888888;

    & + #fix_menu_spacer {
        height: 66px;
        @media (min-width: 992px) {
          height: 86px;
        }
      }

  }

  footer {
    font-size: 9px;
    color: white;
    background-color: rgba(153, 153, 153, 1);
    .invert {
      filter: invert(1);
    }

    .email {
      font-size: 9px;
    }

    .footer_logo {
      max-width: 180px;
    }
  }
}

.mobile_logo {
  width: $mobile_logo_width;
  transition: all $mobile_logo_speed;

  @media (max-width: 375px) {
    width: 70%;
    height: 70%;
  }
  @media (min-width: 992px) {
    width: 0;
  }
}

.fix_menu .mobile_logo {
  width: $mobile_logo_width;
  transition: all $mobile_logo_speed;
  transition-delay: height $mobile_logo_speed;
  @media (max-width: 375px) {
    width: 70%;
    height: 70%;
  }
  @media (min-width: 992px) {
    width: $mobile_logo_width;
    transition: all $mobile_logo_speed cubic-bezier(0, 2.07, 0.51, 0.54);
  }
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.indent2letter {
  margin-left: 2em;
}
