/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
body {
  font-family: sans-serif;
  letter-spacing: 0.25rem;
  height: 100%;
}

a {
  &:visited,
  &:hover {
    text-decoration: none;
  }
}

@import "bootstrap";
@import "index";
