/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
body {
  font-family: sans-serif;
  height: 100vh;
  overflow-y: scroll;
  background-color: #FAFAFA;

  p {
    line-height: 1.75rem;
  }

  .banner_img {
    text-align: center;
    >img{
      max-height: 80vh;
    }
  }
}

a {
  text-decoration: none;
  &:active,
  &:visited,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
