@import "global_style";

h5 {
  padding-top: 1.5rem;
}

h6 {
  position: relative;
  padding-top: 1rem;
  padding-left: 1rem;
  font-weight: bold;
}

h6::after {
  content: '‧';
  position: absolute;
  left: 0;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
}
