.line {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    &::before {
      content: '';
      position: absolute;
      display: block;
      bottom: 100%;
      left: 0;
      right: 0;
      margin: auto;
      width: calc(100% - 30px);
      height: 1px;
      background-color: #e2e2e2;
    }
}

.nameofworks {
  font-size: 9pt;
  padding-left: 2em;
  &+& {
    padding-left: 1em;
  }
}

.works {
  position: relative;
}

.out-of-img {
  position: static;
}

.in-img-left-top-sm {
  @media (min-width: 576px) {
    position: absolute;
    top: 13%;
    left: 7%;
  }
}

.in-img-left-bottom {
  font-size: 0.8rem;
  @media (min-width: 576px) {
    position: absolute;
    bottom: 6%;
    left: 7%;
  }
}

.w300 {
  width: 100%;
  @media (min-width: 768px) {
    width: 300px;
  }
}

.w455 {
  width: 100%;
  @media (min-width: 768px) {
    width: 455px;
  }
}

.w753 {
  width: 100%;
  @media (min-width: 768px) {
    margin-left: 27%;
    width: 59%;
  }

  @media (min-width: 1440px) {
    width: 79%;
    margin-left: 0%;
  }
}

.in-img-left-bottom-indent {
  font-size: 0.8rem;
  @media (min-width: 576px) {
    position: absolute;
    bottom: 6%;
    left: 4%;
    width: 300px;
  }
}


.in-img-right-bottom {
  font-size: 0.8rem;
  @media (min-width: 576px) {
    position: absolute;
    bottom: 6%;
    right: 7%;
    width: 426px;
  }
}

h2 {
  @media (min-width: 576px) {
    position: relative;
    .vertical-rl {
      display: block;
      writing-mode: vertical-rl;
      & + .nameofworks {
        position: absolute;
        display: block;
        bottom: 0;
        left: 100%;
        width: 100px;
      }
    }
  }
}
