/* line 1, ../sass/cityMark.scss */
h5 {
  margin-top: 20px;
  margin-bottom: 15px;
}

/* line 6, ../sass/cityMark.scss */
blockquote {
  color: #d5d5d5;
  font-size: .5rem;
}

/* line 12, ../sass/cityMark.scss */
figure > * {
  margin: 10px;
}
/* line 15, ../sass/cityMark.scss */
figure .fbTag {
  color: #24678d;
}

/* line 20, ../sass/cityMark.scss */
.s1 {
  background-image: url('../images/cityMark/s1.jpg?1494549721');
}

/* line 24, ../sass/cityMark.scss */
.s2 {
  background-image: url('../images/cityMark/s2.jpg?1494549721');
}

/* line 28, ../sass/cityMark.scss */
.s3 {
  background-image: url('../images/cityMark/s3.jpg?1494549721');
}

/* line 32, ../sass/cityMark.scss */
.s4 {
  background-image: url('../images/cityMark/s4.jpg?1494549721');
}

/* line 36, ../sass/cityMark.scss */
.s5 {
  background-image: url('../images/cityMark/s5.jpg?1494549703');
}

/* line 40, ../sass/cityMark.scss */
.s6 {
  background-image: url('../images/cityMark/s6.jpg?1494549702');
}

/* line 44, ../sass/cityMark.scss */
.s7 {
  background-image: url('../images/cityMark/s7.jpg?1494549705');
}

/* line 48, ../sass/cityMark.scss */
.s8 {
  background-image: url('../images/cityMark/s8.jpg?1494549706');
}

/* line 52, ../sass/cityMark.scss */
.s9 {
  background-image: url('../images/cityMark/s9.jpg?1494549702');
}

/* line 56, ../sass/cityMark.scss */
.s10 {
  background-image: url('../images/cityMark/s10.jpg?1494549702');
}

/* line 60, ../sass/cityMark.scss */
.s11 {
  background-image: url('../images/cityMark/s11.jpg?1494549707');
}

/* line 64, ../sass/cityMark.scss */
.s12 {
  background-image: url('../images/cityMark/s12.jpg?1494549707');
}

/* line 68, ../sass/cityMark.scss */
.s13 {
  background-image: url('../images/cityMark/s13.jpg?1494549706');
}

/* line 72, ../sass/cityMark.scss */
.s14 {
  background-image: url('../images/cityMark/s14.jpg?1494549707');
}

/* line 76, ../sass/cityMark.scss */
.s15 {
  background-image: url('../images/cityMark/s15.jpg?1494549710');
}

/* line 80, ../sass/cityMark.scss */
.s16 {
  background-image: url('../images/cityMark/s16.jpg?1494549714');
}

/* line 84, ../sass/cityMark.scss */
.s17 {
  background-image: url('../images/cityMark/s17.jpg?1494549710');
}

/* line 88, ../sass/cityMark.scss */
.s18 {
  background-image: url('../images/cityMark/s18.jpg?1494549710');
}

/* line 92, ../sass/cityMark.scss */
.s19 {
  background-image: url('../images/cityMark/s19.jpg?1494549710');
}

/* line 96, ../sass/cityMark.scss */
.s20 {
  background-image: url('../images/cityMark/s20.jpg?1494549721');
}

/* line 100, ../sass/cityMark.scss */
.s21 {
  background-image: url('../images/cityMark/s21.jpg?1494549714');
}

/* line 104, ../sass/cityMark.scss */
.s22 {
  background-image: url('../images/cityMark/s22.jpg?1494549714');
}

/* line 108, ../sass/cityMark.scss */
.s23 {
  background-image: url('../images/cityMark/s23.jpg?1494549714');
}

/* line 112, ../sass/cityMark.scss */
.s24 {
  background-image: url('../images/cityMark/s24.jpg?1494549714');
}

/* line 116, ../sass/cityMark.scss */
.s25 {
  background-image: url('../images/cityMark/s25.jpg?1494549723');
}

/* line 120, ../sass/cityMark.scss */
.s26 {
  background-image: url('../images/cityMark/s26.jpg?1494549723');
}

/* line 124, ../sass/cityMark.scss */
.s27 {
  background-image: url('../images/cityMark/s27.jpg?1494549726');
}

/* line 128, ../sass/cityMark.scss */
.s28 {
  background-image: url('../images/cityMark/s28.jpg?1494549725');
}

/* line 132, ../sass/cityMark.scss */
.s29 {
  background-image: url('../images/cityMark/s29.jpeg?1494549725');
}

/* line 136, ../sass/cityMark.scss */
.s30 {
  background-image: url('../images/cityMark/s30.jpeg?1494549725');
}
