.gray_background {
  background-color: #f4f4f4;
  background-image: none;
}

.green_background {
  background-color: #248d6c;
  background-image: none;
}

.green_font {
  color: #248d6c;
}

.blue_font {
  color: #24678d;
}

.white_font {
  color: #fff;
}

.card {
  margin: 5vh 0;
  border: 0;
}
.card .card-block {
  text-align: center;
  padding: 0;
}
.card .card-block h5 {
  margin: 0.25rem 0;
}
.card .card-block img {
  width: 245px;
}
.card .card-block h6 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #a82e2e;
}
.card .card-block p {
  padding: 0 15px;
  text-align: left;
}

.group_summary {
  min-height: 50vh;
}
.group_summary h1 {
  font-size: 1.5rem;
  color: #248d6c;
}

.join_us {
  color: #fff;
  min-height: 20vh;
}
.join_us .btn-danger:hover {
  background-color: #a82e2e;
}
