/* line 6, ../sass/_colors.scss */
.gray_background {
  background-color: #f4f4f4;
  background-image: none;
}

/* line 11, ../sass/_colors.scss */
.green_background {
  background-color: #248d6c;
  background-image: none;
}

/* line 16, ../sass/_colors.scss */
.green_font {
  color: #248d6c;
}

/* line 20, ../sass/_colors.scss */
.blue_font {
  color: #24678d;
}

/* line 24, ../sass/_colors.scss */
.white_font {
  color: #fff;
}

/* line 3, ../sass/index.scss */
.banner_img {
  background-image: url('../images/index/banner.jpg?1492260201');
  background-position: center;
}

/* line 8, ../sass/index.scss */
.s1,
.s2,
.s3,
.s4,
.s5 {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 18, ../sass/index.scss */
.s1 > img,
.s2 > img,
.s3 > img,
.s4 > img,
.s5 > img {
  opacity: 0;
}

/* line 23, ../sass/index.scss */
.s1 {
  background-image: url('../images/index/s1.jpg?1492221886');
}

/* line 27, ../sass/index.scss */
.s2 {
  background-image: url('../images/index/s2.jpg?1492221886');
}

/* line 31, ../sass/index.scss */
.s3 {
  background-image: url('../images/index/s3.jpg?1492221886');
}

/* line 35, ../sass/index.scss */
.s4 {
  background-image: url('../images/index/s4.jpg?1492221886');
}

/* line 39, ../sass/index.scss */
.s5 {
  background-image: url('../images/index/s5.jpg?1492221886');
}

/* line 43, ../sass/index.scss */
.card {
  margin: 5vh 0;
  border: 0;
}
/* line 47, ../sass/index.scss */
.card .card-block {
  text-align: center;
  padding: 0;
}
/* line 51, ../sass/index.scss */
.card .card-block h5 {
  margin: 0.25rem 0;
}
/* line 55, ../sass/index.scss */
.card .card-block img {
  width: 245px;
}
/* line 59, ../sass/index.scss */
.card .card-block h6 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #a82e2e;
}
/* line 65, ../sass/index.scss */
.card .card-block p {
  padding: 0 15px;
  text-align: left;
}

/* line 72, ../sass/index.scss */
.group_summary {
  min-height: 50vh;
}
/* line 74, ../sass/index.scss */
.group_summary h1 {
  font-size: 1.5rem;
  color: #248d6c;
}

/* line 80, ../sass/index.scss */
.join_us {
  color: #fff;
  min-height: 20vh;
}
/* line 84, ../sass/index.scss */
.join_us .btn-danger:hover {
  background-color: #a82e2e;
}
