/* line 6, ../sass/_colors.scss */
.gray_background {
  background-color: #f4f4f4;
  background-image: none;
}

/* line 11, ../sass/_colors.scss */
.green_background {
  background-color: #248d6c;
  background-image: none;
}

/* line 16, ../sass/_colors.scss */
.green_font {
  color: #248d6c;
}

/* line 20, ../sass/_colors.scss */
.blue_font {
  color: #24678d;
}

/* line 24, ../sass/_colors.scss */
.white_font {
  color: #fff;
}

/* line 3, ../sass/index.scss */
.card {
  margin: 5vh 0;
  border: 0;
}
/* line 7, ../sass/index.scss */
.card .card-block {
  text-align: center;
  padding: 0;
}
/* line 11, ../sass/index.scss */
.card .card-block h5 {
  margin: 0.25rem 0;
}
/* line 15, ../sass/index.scss */
.card .card-block img {
  width: 245px;
}
/* line 19, ../sass/index.scss */
.card .card-block h6 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #a82e2e;
}
/* line 25, ../sass/index.scss */
.card .card-block p {
  padding: 0 15px;
  text-align: left;
}

/* line 32, ../sass/index.scss */
.group_summary {
  min-height: 50vh;
}
/* line 34, ../sass/index.scss */
.group_summary h1 {
  font-size: 1.5rem;
  color: #248d6c;
}

/* line 40, ../sass/index.scss */
.join_us {
  color: #fff;
  min-height: 20vh;
}
/* line 44, ../sass/index.scss */
.join_us .btn-danger:hover {
  background-color: #a82e2e;
}
