.gray_background {
  background-color: #f4f4f4;
  background-image: none;
}

.green_background {
  background-color: #248d6c;
  background-image: none;
}

.green_font {
  color: #248d6c;
}

.blue_font {
  color: #24678d;
}

.white_font {
  color: #fff;
}

.line > .row:nth-child(n+2) {
  position: relative;
}
.line > .row:nth-child(n+2)::before {
  content: '';
  position: absolute;
  display: block;
  bottom: 100%;
  left: 0;
  right: 0;
  margin: auto;
  width: 64%;
  height: 1px;
  background-color: #888;
}
