/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/print.scss */
body {
  font-family: sans-serif;
  height: 100vh;
  overflow-y: scroll;
  background-color: #FAFAFA;
}
/* line 10, ../sass/print.scss */
body p {
  line-height: 1.75rem;
}
/* line 14, ../sass/print.scss */
body .banner_img {
  text-align: center;
}
/* line 16, ../sass/print.scss */
body .banner_img > img {
  max-height: 80vh;
}

/* line 22, ../sass/print.scss */
a {
  text-decoration: none;
}
/* line 24, ../sass/print.scss */
a:active, a:visited, a:focus, a:hover {
  text-decoration: none;
}
