/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/print.scss */
body {
  font-family: sans-serif;
  height: 100vh;
}
/* line 7, ../sass/print.scss */
body p {
  letter-spacing: 0.25rem;
  line-height: 1.75rem;
}
/* line 12, ../sass/print.scss */
body .banner_img {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 20, ../sass/print.scss */
a {
  text-decoration: none;
}
/* line 22, ../sass/print.scss */
a:active, a:visited, a:focus, a:hover {
  text-decoration: none;
}
