/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/print.scss */
body {
  font-family: sans-serif;
  letter-spacing: 0.25rem;
  height: 100%;
}

/* line 6, ../sass/_colors.scss */
.gray_background {
  background-color: #f4f4f4;
  background-image: none;
}

/* line 11, ../sass/_colors.scss */
.green_background {
  background-color: #248d6c;
  background-image: none;
}

/* line 16, ../sass/_colors.scss */
.green_font {
  color: #248d6c;
}

/* line 20, ../sass/_colors.scss */
.blue_font {
  color: #24678d;
}

/* line 24, ../sass/_colors.scss */
.white_font {
  color: #fff;
}

/* line 4, ../sass/aboutUs.scss */
.carousel-indicators li {
  max-width: 3px;
  height: 5px;
  border-radius: 50px;
}

/* line 11, ../sass/aboutUs.scss */
.s1,
.s2,
.s3,
.s4,
.s5 {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 21, ../sass/aboutUs.scss */
.s1 > img,
.s2 > img,
.s3 > img,
.s4 > img,
.s5 > img {
  opacity: 0;
}

/* line 26, ../sass/aboutUs.scss */
.s1 {
  background-image: url('../images/s1.jpg?1489242250');
}

/* line 30, ../sass/aboutUs.scss */
.s2 {
  background-image: url('../images/s2.jpg?1489242260');
}

/* line 34, ../sass/aboutUs.scss */
.s3 {
  background-image: url('../images/s3.jpg?1489242356');
}

/* line 38, ../sass/aboutUs.scss */
.s4 {
  background-image: url('../images/s4.jpg?1489242058');
}

/* line 42, ../sass/aboutUs.scss */
.s5 {
  background-image: url('../images/s5.jpg?1489242138');
}

/* line 46, ../sass/aboutUs.scss */
.card {
  margin: 5vh 0;
  border: 0;
}
/* line 50, ../sass/aboutUs.scss */
.card .card-block {
  text-align: center;
  padding: 0;
}
/* line 54, ../sass/aboutUs.scss */
.card .card-block h5 {
  margin: 0.25rem 0;
}
/* line 58, ../sass/aboutUs.scss */
.card .card-block img {
  width: 245px;
}
/* line 62, ../sass/aboutUs.scss */
.card .card-block h6 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #a82e2e;
}
/* line 68, ../sass/aboutUs.scss */
.card .card-block p {
  padding: 0 15px;
  text-align: left;
}

/* line 75, ../sass/aboutUs.scss */
.footer {
  height: 100%;
}
/* line 77, ../sass/aboutUs.scss */
.footer .group_summary {
  min-height: 50vh;
}
/* line 79, ../sass/aboutUs.scss */
.footer .group_summary .h4 {
  color: #248d6c;
}
/* line 84, ../sass/aboutUs.scss */
.footer .join_us {
  min-height: 20vh;
}
/* line 87, ../sass/aboutUs.scss */
.footer .join_us .btn-danger:hover {
  background-color: #a82e2e;
}
