/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
.flexslider {
  margin: 0;
}
.flexslider img {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 991px) {
  .flexslider img {
    width: 60% !important;
  }
}
.flexslider .flex-control-nav {
  bottom: -40px;
}
.flexslider .flex-control-nav a {
  width: 7px;
  height: 7px;
  transition: all 0.3s;
}

.block-middle {
  font-size: 0;
}
.block-middle::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.block-middle > div {
  font-size: 1rem;
  vertical-align: middle;
  display: inline-block;
}

.block-bottom {
  font-size: 0;
}
.block-bottom::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.block-bottom i, .block-bottom span {
  font-size: 1rem;
  vertical-align: bottom;
  display: inline-block;
  padding-left: 0.5rem;
  color: white;
}
.block-bottom i:hover, .block-bottom i:active, .block-bottom i:focus, .block-bottom i:visited, .block-bottom span:hover, .block-bottom span:active, .block-bottom span:focus, .block-bottom span:visited {
  color: white;
}

.font-fangsong {
  font-family: "cwTeXFangSong",serif !important;
  font-size: 14pt;
  letter-spacing: .1em;
}

body {
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
  overflow-y: scroll;
  background-color: #FAFAFA;
}
body p {
  line-height: 1.75rem;
}
body nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FAFAFA;
  z-index: 20;
  box-shadow: 0 0 50px #888888;
}
@media (min-width: 992px) {
  body nav.navbar {
    position: static;
    box-shadow: none;
  }
}
body nav.navbar + #fix_menu_spacer {
  height: 66px;
}
@media (min-width: 992px) {
  body nav.navbar + #fix_menu_spacer {
    height: 0;
  }
}
body header nav.navbar.fix_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FAFAFA;
  z-index: 20;
  box-shadow: 0 0 50px #888888;
}
body header nav.navbar.fix_menu + #fix_menu_spacer {
  height: 66px;
}
@media (min-width: 992px) {
  body header nav.navbar.fix_menu + #fix_menu_spacer {
    height: 86px;
  }
}
body footer {
  font-size: 9px;
  color: white;
  background-color: #999999;
}
body footer .invert {
  filter: invert(1);
}
body footer .email {
  font-size: 9px;
}
body footer .footer_logo {
  max-width: 180px;
}

.mobile_logo {
  width: 247.5px;
  transition: all 0.4s;
}
@media (max-width: 375px) {
  .mobile_logo {
    width: 70%;
    height: 70%;
  }
}
@media (min-width: 992px) {
  .mobile_logo {
    width: 0;
  }
}

.fix_menu .mobile_logo {
  width: 247.5px;
  transition: all 0.4s;
  transition-delay: height 0.4s;
}
@media (max-width: 375px) {
  .fix_menu .mobile_logo {
    width: 70%;
    height: 70%;
  }
}
@media (min-width: 992px) {
  .fix_menu .mobile_logo {
    width: 247.5px;
    transition: all 0.4s cubic-bezier(0, 2.07, 0.51, 0.54);
  }
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

a {
  text-decoration: none;
}
a:active, a:focus, a:hover, a:visited {
  text-decoration: none;
}

.indent2letter {
  margin-left: 2em;
}
