@charset "UTF-8";
/* line 2, ../sass/tainanWall.scss */
h5 {
  padding-top: 1.5rem;
}

/* line 6, ../sass/tainanWall.scss */
h6 {
  position: relative;
  padding-top: 1rem;
  padding-left: 1rem;
  font-weight: bold;
}

/* line 13, ../sass/tainanWall.scss */
h6::after {
  content: '‧';
  position: absolute;
  left: 0;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
}
