@charset "UTF-8";
/* line 2, ../sass/tainanWall.scss */
h5 {
  padding-top: 1.5rem;
}

/* line 6, ../sass/tainanWall.scss */
h6 {
  position: relative;
  padding-top: 1rem;
  padding-left: 1rem;
  font-weight: bold;
}

/* line 13, ../sass/tainanWall.scss */
h6::after {
  content: '‧';
  position: absolute;
  left: 0;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
}

/* line 23, ../sass/tainanWall.scss */
.s1 {
  background-image: url('../images/tainanWall/s1.jpg?1494631106');
}

/* line 27, ../sass/tainanWall.scss */
.s2 {
  background-image: url('../images/tainanWall/s2.jpg?1494631106');
}

/* line 31, ../sass/tainanWall.scss */
.s3 {
  background-image: url('../images/tainanWall/s3.jpg?1494631108');
}

/* line 35, ../sass/tainanWall.scss */
.s4 {
  background-image: url('../images/tainanWall/s4.jpg?1494631108');
}

/* line 39, ../sass/tainanWall.scss */
.s5 {
  background-image: url('../images/tainanWall/s5.jpg?1494631108');
}

/* line 43, ../sass/tainanWall.scss */
.s6 {
  background-image: url('../images/tainanWall/s6.jpg?1494631108');
}

/* line 47, ../sass/tainanWall.scss */
.s7 {
  background-image: url('../images/tainanWall/s7.jpg?1494631108');
}

/* line 51, ../sass/tainanWall.scss */
.s8 {
  background-image: url('../images/tainanWall/s8.jpg?1494631108');
}

/* line 55, ../sass/tainanWall.scss */
.s9 {
  background-image: url('../images/tainanWall/s9.jpg?1494631108');
}

/* line 59, ../sass/tainanWall.scss */
.s10 {
  background-image: url('../images/tainanWall/s10.jpg?1494631108');
}

/* line 63, ../sass/tainanWall.scss */
.s11 {
  background-image: url('../images/tainanWall/s11.jpg?1494631108');
}

/* line 67, ../sass/tainanWall.scss */
.s12 {
  background-image: url('../images/tainanWall/s12.jpg?1494631108');
}

/* line 71, ../sass/tainanWall.scss */
.s13 {
  background-image: url('../images/tainanWall/s13.jpg?1494631108');
}

/* line 75, ../sass/tainanWall.scss */
.s14 {
  background-image: url('../images/tainanWall/s14.jpg?1494631108');
}

/* line 79, ../sass/tainanWall.scss */
.s15 {
  background-image: url('../images/tainanWall/s15.jpg?1494631108');
}

/* line 83, ../sass/tainanWall.scss */
.s16 {
  background-image: url('../images/tainanWall/s16.jpg');
}

/* line 87, ../sass/tainanWall.scss */
.s17 {
  background-image: url('../images/tainanWall/s17.jpg');
}

/* line 91, ../sass/tainanWall.scss */
.s18 {
  background-image: url('../images/tainanWall/s18.jpg');
}

/* line 95, ../sass/tainanWall.scss */
.s19 {
  background-image: url('../images/tainanWall/s19.jpg');
}

/* line 99, ../sass/tainanWall.scss */
.s20 {
  background-image: url('../images/tainanWall/s20.jpg');
}

/* line 103, ../sass/tainanWall.scss */
.s21 {
  background-image: url('../images/tainanWall/s21.jpg');
}

/* line 107, ../sass/tainanWall.scss */
.s22 {
  background-image: url('../images/tainanWall/s22.jpg');
}

/* line 111, ../sass/tainanWall.scss */
.s23 {
  background-image: url('../images/tainanWall/s23.jpg');
}

/* line 115, ../sass/tainanWall.scss */
.s24 {
  background-image: url('../images/tainanWall/s24.jpg');
}

/* line 119, ../sass/tainanWall.scss */
.s25 {
  background-image: url('../images/tainanWall/s25.jpg');
}

/* line 123, ../sass/tainanWall.scss */
.s26 {
  background-image: url('../images/tainanWall/s26.jpg');
}

/* line 127, ../sass/tainanWall.scss */
.s27 {
  background-image: url('../images/tainanWall/s27.jpg');
}

/* line 131, ../sass/tainanWall.scss */
.s28 {
  background-image: url('../images/tainanWall/s28.jpg');
}

/* line 135, ../sass/tainanWall.scss */
.s29 {
  background-image: url('../images/tainanWall/s29.jpeg');
}

/* line 139, ../sass/tainanWall.scss */
.s30 {
  background-image: url('../images/tainanWall/s30.jpeg');
}
